<!DOCTYPE html>
<html>
  <head>
    <title>RubyChallenge</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" >
        <ul class="nav sidebar-nav">
          <li class="sidebar-brand"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Create Department", new_department_path %></li>
          <li><%= link_to "Create Product", new_product_path %></li>
          <li><%= link_to "Create Product&Promotion", new_products_promotion_path %></li>
          <li><%= link_to "Create Promotion", new_promotion_path %></li>
        </ul>
      </nav>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <script>
      $(document).ready(function () {
        var trigger = $('.hamburger'),
        overlay = $('.overlay'),
        isClosed = false;

        trigger.click(function () {
          hamburger_cross();      
        });

        function hamburger_cross() {

          if (isClosed == true) {          
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {   
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
        }

        $('[data-toggle="offcanvas"]').click(function () {
          $('#wrapper').toggleClass('toggled');
        });  
      });
    </script>
  </body>
</html>
